<div id="triangle"></div>

<img  id="icon" src="http://openweathermap.org/img/w/{{icone}}.png">

<div id="maree"> 
 	<a href="http://www.horaire-maree.fr/">
 		<img src="http://www.horaire-maree.fr/images/log_widget.png" alt="Marées" width="180" height="40" border="0" />
 	</a>
 </div>
<br>
<br>





<h1 class="left">{{name}}</h1>

<img src="" alt="" class= 'icone'>

<h3>A c't'heure, y fait {{temp}}° C à {{name}}.  </h3>

<h3>{{ adapter }}</h3>

<h4>Eul' vent, y souff' à {{ vent }} mèt' par eu' s'conde. Ça fait {{ souffler }} !</h4>

<div class="contener">
	<div id="googleMap" style="width:528px;height:300px;"></div>
</div> 





