<div class="containerInfo">
	<div class="wrapInfo">

		<img  id="triangle" src="/img/shell.png" alt="image d'une coquille saint-jacques">

		<img  id="icon" alt="représente le temps qu'il fait" src="http://openweathermap.org/img/w/{{icone}}.png">

		<div id="mareeBox"> 
	 		<a  href="http://www.horaire-maree.fr/">
	 			<img id="maree"src="http://www.horaire-maree.fr/images/log_widget.png" alt="Marées" width="180" height="40" border="0" />
	 		</a>
	 	</div>
			
		<div class="wrapContent">
			<h1>{{name}}</h1>

			<h3>A c't'heure, y fait {{temp}}° C à {{name}}.  </h3>

			<h3>{{adapter}}</h3>

			<h4>Eul' vent, y souff' à {{ vent }} mèt' par eu' s'conde. Ça fait {{souffler}}!</h4>

			<div class="wrapMap">
				<div class="round" id="googleMap" style="width:528px;height:300px;"></div>
			</div> 

			<button>
				<h3>
					<a href="#/home">RETOUR</a>
				</h3>
			</button>
		</div>
	</div>
</div>







